:root {
    --bckgColor:#f9faff;
    --grey: #5d6473;
    --blue: #076aff;
    --iconsChecked: #cbd8fd;
    --headlineGrey: #9599bb;
    --underlineDiv: #aebdca;
    --iconsTrash:#dde0e9;
    --neonPink : #ff10f0;
    --emeraldGreen: #005c46;
}

body {
    background-color:var(--bckgColor);
    font-family: 'lato', 'sans-serif';
    font-size: 1.2rem;
}

.scroll-hider::-webkit-scrollbar {
    display: none;
  }
  
.list-wrapper {
    margin-top:25px;
}

.input-info-danger {
    font-size: 12px;
}

textarea {
    resize: none;
}

.underline-div {
    width: 25vw;
    max-width: 250px;
    height: 2px;
    background-color: var(--underlineDiv);
    margin: auto;
}

.buttons-wrapper {
    margin-right: 10px;
    color: white;
}

.btn-color {
    background-color: var(--blue);
    border-radius: 50px;
    padding: 10px;
    width: 65%;
    margin: auto;
}

.li-custom {
    margin-top: 10px;
    border-radius: 20px !important;
}

i {
    font-size: 1.6rem;
}

i:hover {
    cursor: pointer;
}

.icon-trash {
    color: var(--iconsTrash);
    font-size: 1.2rem;
}

.icon-size {
    font-size: 1.4rem;
}

.icon-add {
    color: var(--blue);
    font-size: 3.5rem;
}

.icon-arrow {
    color: var(--grey);
}

.icon-add-overlay {
    bottom: 5%;
    left: 80%;
}

.icon-link {
    font-size: 0.8rem;
    position:absolute;
    bottom: 0;
    background-color: white;
    color: var(--grey);
    text-decoration: none;
    padding: 5px;
    border-radius: 20px;
}

h1,h5 {
    font-weight: 700;
}

.flex-override {
    flex: auto;
}

p {
    color: var(--grey);
}

li:first-child {
    margin-top: 0px !important;
}

.small-headlines {
    margin-bottom: 0px;
    font-size: 1rem;
    color: var(--headlineGrey);
}

.card {
    border: none;
    border-radius: 20px;
}

.card:first-child {
    margin-left: 20px;
}

.card:not(:last-child),.card:not(:first-child) { 
    margin:  10px;
}

.card:last-child {
    margin-right: 20px;
}

.bar-override {
    height: 8px;
}

.offcanvas-form {
   width: 50vw !important ;
}

.form-design {
    border: none;
    text-align: center;
}

.form-design:hover {
    border: none;
}

.form-design::placeholder {
    text-align: center;
    font-size: 1.2rem;
}

.form-align {
    height: 60%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: space-between;
}

.color-button { 
    display: flex;
    width: 3rem;
    height: 2.9rem;
    background-image: url('src/buttonBlue.png');
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border: none;
    padding: 0 !important;
}

.color-button.pink {
    background-image: url('src/buttonPink.png');
}

.color-button.green {
    background-image: url('src/buttonGreen.png')
}

.color-wrapper {
    display: none;
    justify-content: space-between;
    border-radius: 50px;
    width: calc(9% + 150px);
    margin: 0 auto;
    padding: 5px;
    background-color: var(--blue);
}

.show {
    display: flex;
}

.submit-wrapper {
    background-color: var(--blue);
    border-radius: 50px;
    padding: 5px;
}

@media only screen and (max-width: 767px) {
    body {
        font-size: 1.05rem;
    }

    .small-headlines {
        font-size: 0.8rem;
    }

    .offcanvas-form {
        width: 100vw !important;
    }

    .color-box {
        width: 8vw;
        height: 8vw;
    }

    .icon-link {
        font-size: 0.6rem;
    }
}  
